<div class="container mb-3">
  <h2 class="mt-3">Edit the list</h2>
  <% @movies.each do |movie| %>
    <%= movie.title %>
  <% end %>

  <%= simple_form_for [@list] do |f| %>
    <%= f.input :name %>
    <% <%= f.association :movie, as: :check_boxes%>
    <%= f.submit %>
  <% end %>
  <div class="container mt-4" style="padding-left: 0">
    <%= link_to 'Back to list', lists_path %>
  </div>
</div>
