<h2>List: <%= @list.name %></h2>

<%= link_to 'Add a movie',  new_list_bookmark_path(@list) %>
<%= link_to 'Back to list', lists_path %>

<p>Movies:</p><br/>
<% @list.bookmarks.each do |bookmark| %>
    <p>Title: <%= bookmark.movie.title %></p>
    <p>Overview: <%= bookmark.movie.overview %></p>
    <p><% bookmark.movie.poster_url %></p>
    <p>Rating: <%= bookmark.movie.rating %></p>
    <%= link_to 'Delete a movie',  bookmark_path(bookmark),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
  <% end %>
