<div class="container mb-3">
  <h2 class="mt-3">Add a bookmark to the list: <%= @list.name %></h2>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.submit %>
  <% end %>
  <div class="container mt-4" style="padding-left: 0">
    <%= link_to 'Back to list', list_path(@list) %>
  </div>
</div>
